@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url(../fonts/BarlowSemiCondensed-Bold.woff) format('woff');
    src: url(../fonts/BarlowSemiCondensed-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url(../fonts/BarlowSemiCondensed-SemiBold.woff) format('woff');
    src: url(../fonts/BarlowSemiCondensed-SemiBold.woff2) format('woff2');
}