@use '../scss/mixins' as mix;
@use '../scss/media-queries' as media;

.rules {
    @include mix.widthHeight(100%, 100%);
    position: absolute;
    z-index: 999;

    @include media.breakpoint-1000 {
        @include mix.flexCenter;
        background-color: rgba(0, 0, 0, 0.763);
    }

    &__container {
        @include mix.widthHeight(100%, 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: var(--White);

        @include media.breakpoint-1000 {
            @include mix.maxWidthMaxHeight(400px, 410px);
            justify-content: space-evenly;
            border-radius: 10px;
        }

        & h2 {
            order: 1;
            color: var(--Dark-Text);
            font-size: 32px;
            font-weight: 600; 

            @include media.breakpoint-1000 {
                width: 90%;
                text-align: start;
            }
        }

        .close {
            order: 3;

            @include media.breakpoint-1000 {
                order: 2;
                width: 90%;
            }

            &__btn {
                background: transparent;
                border: none;
                cursor: pointer;

                @include media.breakpoint-1000 {
                    float: right;
                    position: relative;
                    top: -33px;
                }
            }
        }

        & .rules-img {
            @include mix.widthHeight(300px, 300px);
            @include mix.flexCenter;
            order: 2;

            @include media.breakpoint-1000 {
                order: 3;
            }
        }
    }
}

.show-rules-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
    @include media.breakpoint-480 {
        justify-content: flex-end;
        margin-right: 30px;
    }

    & .rules-btn {
        padding: 13px 35px;
        background: transparent;
        color: var(--White);
        border-radius: 10px;
        border: 1px solid var(--White);
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;

        &:hover {
            color: var(--Dark-Text);
            background-color: var(--White);
        }
    }
}